.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  
    background-color: rgb(255, 157, 0);
  }
  
  .isActive {
    composes: status;
    background-color: rgb(104, 255, 104);
  }
  
  .isUnactive {
    composes: status;
    background-color: rgba(55, 0, 255, 0.233);
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  